/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
h2{
	font-family: Georgia, 'Times New Roman', Times, serif;
}
h5{
	font-family: 'Courier New', Courier, monospace;
}
#seccionformulario{

    float: left;
    padding: 2opx;
    border: 1px solid #999999;
}
#secciondatos{
    float: left;
    width: 500px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #999999;
}
.directorio{
    color: #0000FF;
    font-weight: bold;
    cursor: pointer;
}

#div1{
    background-color: white;
	
}
body{
	background-color: #309F7C;
	font-family: Arial;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: black;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}


